/demo/ProxyMiner.Demo/bin
/demo/ProxyMiner.Demo/obj
/.idea
/tests/ProxyMiner.Test/obj
/tests/ProxyMiner.Test/bin
/ProxyMiner.sln.DotSettings.user
/src/ProxyMiner.Checkers/bin
/src/ProxyMiner.Checkers/obj
/src/ProxyMiner.Providers/bin
/src/ProxyMiner.Providers/obj
/src/ProxyMiner.Core/obj
/src/ProxyMiner.Core/bin
